/* Universal Styling */

:root {
    --primary-color: rgb(255, 72, 60);
    --light-grey: rgb(217, 213, 210);
    --dark-grey: rgb(46, 46, 46);
    --white: rgb(255, 255, 255);
    --black: rgb(13, 13, 13);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: "proxima-nova-condensed", sans-serif;
    overflow-x: hidden;
}

p {
    font-family: "proxima-nova", sans-serif; 
}

hr {
    width: 30%;
    height: 10px;
    background-color: var(--primary-color);
    border: none;
    margin: 10px 0;
}

/* End Universal Styling */

/* Start of Navigation Styling */

header {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo {
    width: 99%;
}

nav {
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item:hover a {
    color: var(--primary-color);
}

.nav-item:hover .nav-icons {
    background-color: var(--primary-color);
}

.nav-icons {
    width: 60px;
    height: 60px;
    background-color: var(--dark-grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-icons img {
    max-width: 50%;
}

header nav div a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}

header nav div h2 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 2px;
}

/* End of Naviation Styling */

/* Start of About Me Styling */

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background-image: url("../images/about-me/about-me-image-1920x1080.jpg");
    background-size: cover;
    background-attachment: scroll;
}

.about-me div {
    width: 80%;
    height: 50%;
}

.about-me h2 {
    font-size: 5rem;
    line-height: 0.8;
    width: 60%;
}

.about-me p {
    width: 40%;
}

/* End of About me Styling */

/* Start of Porfolio Styling */

.portfolio {
    width: 100%;
}

.portfolio-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.portfolio-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
}

.portfolio-header h2 {
    font-size: 3rem;
}

.grid-container {
    display: grid;
    width: 95%;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: stretch;
}

.grid-item {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-attachment: cover;
    background-position: center;
    text-align: center;
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
}

.grid-item h3 {
    display: none;
    text-transform: uppercase;
    z-index: 2;
}

.grid-item::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(255, 72, 60, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .8s;
    z-index: 1;
}

.grid-item:hover.grid-item::after {
    opacity: 1;
}

.grid-item:hover h3 {
    display: block;
}

/* WEB DEVELOPMENT WORK */

.wd {
    grid-column: 1 / span 3;
    background-image: url("../images/portfolio/web-development/run-buddy.jpg");
    background-position: center;
}

/* GRAPHIC DESIGN WORK */

.graphic-design {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gd-1 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-posters.jpg");
}

.gd-2 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-promo-cards.jpg");
}

.gd-3 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-guide.jpg");
}

.gd-4 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-email.jpg");
}

.gd-5 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-digital-guide.jpg");
}

.gd-6 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-template-flyers.jpg");
}

.gd-7 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-logo-concept.jpg");
}

.gd-8 {
    background-image: url("../images/portfolio/graphic-design/Primal-logo-business-cards.jpg");
}

.gd-9 {
    background-image: url("../images/portfolio/graphic-design/Naples-logo.jpg");
}

.gd-10 {
    background-image: url("../images/portfolio/graphic-design/FGCU-trifold.jpg");
}

.gd-11 {
    background-image: url("../images/portfolio/graphic-design/FGCU-flyer.jpg");
}

.gd-12 {
    background-image: url("../images/portfolio/graphic-design/FGCU-coasters.jpg");
}

.gd-13 {
    background-image: url("../images/portfolio/graphic-design/Mud-Ready-ad.jpg");
}

.gd-14 {
    background-image: url("../images/portfolio/graphic-design/Mud-Ready-Logo.jpg");
}

.gd-15 {
    background-image: url("../images/portfolio/graphic-design/Mud-Ready-shirts.jpg");
}

/* End of Portfolio Styling */

.contact {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../images/hero-image/hero-image-1920x1080.jpg");
}

.contact-form {
    width: 80%;
}

.contact-form form {
    width: 60%;
}

.contact-form h2{
    font-size: 3rem;
    line-height: 0.9;
}

.contact-form span {
    color: var(--primary-color);
}

.form-input {
    border: 1px solid var(--secondary-color);
    padding: 7px 15px;
    font-size: 16px;
    margin: 15px 5px 5px 0;
}

.contact-form #name, .contact-form #email {
    width: 40%;
    height: 30px;
}

.contact-form #subject-line, .contact-form #message {
    width: 80.75%;
}

.contact-form button {
    display: block;
    width: 20%;
    height: 40px;
    font-family: "proxima-nova";
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
    margin-top: 10px;
    background-color: var(--primary-color);
    border: none;
}

