/* Universal Styling */

:root {
    --primary-color: rgb(255, 72, 60);
    --light-grey: rgb(217, 213, 210);
    --dark-grey: rgb(46, 46, 46);
    --white: rgb(255, 255, 255);
    --black: rgb(13, 13, 13);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: "proxima-nova", sans-serif;
    overflow-x: hidden;
}

hr {
    width: 30%;
    height: 10px;
    background-color: var(--primary-color);
    border: none;
    margin: 10px 0;
}

/* End Universal Styling */

/* Start of Navigation Styling */

header {
    width: 15vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo {
    width: 99%;
}

nav {
    height: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item:hover a:hover {
    color: var(--primary-color);
}

.nav-item h2 {
    text-align: left;
}

.nav-icons {
    width: 80px;
    height: 80px;
    background-color: var(--dark-grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

.nav-icons img {
    max-width: 50%;
}

header nav div a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}

header nav div h2 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 2px;
}

/* End of Naviation Styling */

/* Start of Hero Image Styling */

.hero-image {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/hero-image/hero-image-1920x1080.jpg");
    background-size: cover;
    background-attachment: scroll;
}

.hero-image img {
    width: 40%;
}

/* End of Hero Image Styling */

/* Start of About Me Styling */

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/about-me/about-me-image-1920x1080.jpg");
    background-size: cover;
    background-attachment: scroll;
}

.about-me div {
    width: 50%;
    height: 50%;
}

.about-me h2 {
    font-family: "proxima-nova-condensed";
    font-size: 5rem;
    line-height: 0.8;
    width: 60%;
}

.about-me p {
    width: 60%;
}

/* End of About me Styling */

/* Start of Porfolio Styling */

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
    height: 100vh;
    margin: auto;
}

.portfolio-section {
    display: flex;
    justify-content: space-between;
}

.portfolio-header h2 {
    font-size: 2rem;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, 10px);
    grid-template-rows: repeat(2, 10px);
    column-gap: 10px;
    row-gap: 10px;
    background-color: var(--primary-color);
}

.grid-item {
    background-color: var(--primary-color);
}

